@import "./quasar.variables.scss";
@import "quasar/dist/quasar.sass";
// @import '~quasar-addon-styl';

html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.veneu-logo {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.text-primary,
.q-field * {
  color: var(--veneu-text-primary) !important;
}

aside.q-drawer--mobile {
  width: 90% !important;
  max-width: 25rem !important;
}

.q-field--standout .q-field__control,
.q-toggle__track {
  background: none;
  transition: color background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
  animation: grow-in-input 0.5s forwards;
}

.q-toggle__inner--truthy .q-toggle__track,
.q-toggle__inner--falsy .q-toggle__track {
  opacity: 1;
}

.q-gutter-x-md > *,
.q-gutter-md > * {
  margin-right: 16px;
}

.q-table__bottom .q-btn {
  margin: 8px !important;
}

.q-bar,
.q-footer,
.q-toolbar,
.q-header__content,
.q-bar__content,
.q-card__section,
.q-stepper__content,
.q-stepper__header,
.q-stepper__nav,
.q-time__container-child,
.q-date__header,
.q-table__container,
.q-toggle__thumb {
  background: none !important;
}

.q-footer {
  max-height: 5rem;
}

html,
body,
#app,
.q-drawer__content,
.q-date,
.q-tab-panels,
.q-calendar,
.q-toggle__inner--falsy .q-toggle__thumb::after,
.q-tree__node--selected,
.q-drawer,
.q-calendar {
  background: unset !important;
  background-color: var(--veneu-background) !important;
  // background-size: calc(100% / 2);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.q-dialog__backdrop {
  background-color: var(--veneu-background-backdrop) !important;
}

.q-stepper__step-inner {
  padding-top: 0rem !important;
}

.q-focusable,
.q-hoverable,
#me,
.q-header,
.q-menu,
.q-item__section--side > .q-icon,
.q-date,
.q-time,
.q-select,
.q-timeline__entry,
.rounded-borders {
  border-radius: 1rem !important;
}

.q-textarea {
  .q-field__control {
    padding-bottom: 0.5rem;
  }
}

.q-select {
  .q-field__control {
    padding: 0 12px;
  }
}

.q-btn,
.q-toggle__thumb::after,
.q-time__container-child,
.q-dialog__inner > div,
.q-menu,
#me .q-avatar,
.q-tab--inactive,
.q-notification,
.q-date__main,
.q-tree__node--selected {
  animation: grow-in-button 0.5s forwards !important;
}

.q-timeline__dot,
.q-timeline--loose .q-timeline__dot {
  margin-bottom: 0px !important;
}

.q-date__main,
.q-card {
  border-radius: 1rem !important;
}

.q-toggle__thumb .q-icon {
  color: var(--veneu-text-alternate) !important;
}

.q-date {
  min-width: unset;
  .q-date__view {
    width: unset;
  }
  .q-date__header {
    padding: 0.75rem;
  }
  .q-date__calendar {
    padding: 0.25rem;
    margin: 0.25rem;
  }
  .q-btn {
    padding: 0rem;
  }
}

.courses div.q-item .q-item__section--side.q-item__section--avatar {
  padding-right: 1rem !important;
  min-width: unset !important;
}

.q-date__content .q-btn,
.q-btn-group .q-btn:hover:not([disabled])::before,
.q-btn-group .q-focus-helper,
.q-btn__wrapper::before,
.q-time,
.q-date {
  box-shadow: none !important;
  animation: none !important;
  -webkit-box-shadow: none !important;
  -webkit-animation: none !important;
}

.q-field--standout.q-field--highlighted .q-field__control {
  background: var(--veneu-red);
  animation: grow-in-input-red 0.5s forwards;
}

.q-btn--rectangle,
.q-field__inner,
.q-field__control,
.q-dialog__inner > div {
  border-radius: 1rem !important;
}

.q-btn-group {
  border-radius: 1rem !important;

  .q-btn {
    z-index: 10;
    position: relative;
    box-shadow: none !important;
    border-radius: 0.25rem !important;
    background: var(--veneu-background);

    &:first-child {
      border-top-left-radius: 1rem !important;
      border-bottom-left-radius: 1rem !important;
    }

    &:last-child {
      border-top-right-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
    }

    &::before {
      content: "";
      border-radius: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      animation: grow-in-button 0.5s forwards !important;
    }
  }
}

.courses div.q-item .q-item__section--side {
  padding-right: 0rem !important;
}

.courses .q-expansion-item__container > .q-item {
  padding: 0px 16px 0px 0px !important;
}

.q-btn:focus:not([disabled]),
.q-btn:hover:not([disabled]),
.q-focusable:active:not([disabled]) .q-focus-helper,
.q-hoverable:active:not([disabled]) {
  animation: grow-in-input 0.5s forwards !important;
}

.q-tree__node-header-content {
  padding-left: 0.25rem;
}

.q-focusable:active[disabled] .q-focus-helper,
.q-hoverable:active[disabled] {
  transition: none !important;
  animation: none !important;
}

.q-timeline__heading-title {
  font-family: "Exo 2" !important;
  color: var(--veneu-text-primary);
}

.q-badge[rounded] {
  border-radius: 1rem;
  margin-right: -0.5rem;
}

.q-page-container {
  padding-bottom: 0 !important;
}

h1 {
  text-align: center;
  border-radius: 1rem;
}

.form h1,
.vertical-center h1 {
  border-radius: unset;
  animation: unset;
}

.q-btn * {
  color: var(--veneu-text-alternate);
}

.q-btn.bg-primary {
  background-color: var(--veneu-background) !important;
  animation: grow-in-button 0.5s forwards !important;
  * {
    color: var(--veneu-text-alternate) !important;
  }

  .q-btn__wrapper {
    background-color: var(--veneu-blue) !important;
    min-height: unset;
  }
}

.bg-red {
  background-color: var(--veneu-red) !important;
  &.q-btn {
    background-color: var(--veneu-background) !important;
    animation: grow-in-button 0.5s forwards !important;
    * {
      color: var(--veneu-text-alternate) !important;
    }
    .q-btn__wrapper {
      background-color: var(--veneu-red) !important;
      min-height: unset;
    }
  }
}

.q-menu.q-popup-edit {
  padding-bottom: 0;
}

.q-popup-edit__buttons {
  margin: 0;
  justify-content: space-between;
  .q-btn {
    margin: 16px 0px 16px 0px;
  }
  .q-btn + .q-btn {
    margin: 16px 0px 16px 16px;
  }
}

.q-item__label--caption,
.q-field__native:not(:focus) .q-field__label {
  color: var(--veneu-text-primary) !important;
  font-size: 0.65rem !important;
}

.q-item__label,
h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.q-tree__node-header-content,
.video-js *,
.q-time__header *,
.q-date__header * {
  color: var(--veneu-text-primary);
}

.q-tree__node-header-content div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.q-time--landscape .q-time__header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 6rem !important;
}
.q-time--landscape .q-time__header-label {
  font-size: 1.5rem !important;
}

.q-badge {
  color: var(--veneu-text-alternate) !important;
}

.q-calendar {
  min-width: 60rem !important;
  * {
    color: var(--veneu-text-primary) !important;
    border-color: var(--veneu-text-primary) !important;
  }
  .q-btn {
    margin: 0px 0px 8px 8px !important;
  }
  .q-badge * {
    color: var(--veneu-light) !important;
  }
  .week-view-current-time-line {
    border-color: var(--veneu-red) !important;
  }
  .q-active-date .q-btn__content {
    color: var(--veneu-text-alternate) !important;
  }
  .q-calendar-daily__head-day.q-active-date .q-btn__wrapper::before {
    background-color: var(--veneu-blue);
  }
  .q-calendar-daily__scroll-area {
    overflow-y: auto;
  }
  .q-calendar-daily__day-interval--section {
    border: none;
  }
  .q-past-day {
    opacity: 0.25;
  }
}

.q-time {
  .q-time__header {
    background: none !important;
  }
  .q-time__header * {
    color: var(--veneu-text-primary) !important;
  }
  .q-time__clock-position--active * {
    color: var(--veneu-light);
  }
}

.q-tab--active .q-tab__indicator {
  opacity: 0 !important;
}

.q-timeline__entry {
  margin: 0px !important;
  padding: 16px !important;
  width: 100% !important;
}

.q-timeline--dense--right .q-timeline__entry {
  padding-left: 48px !important;
}

.q-timeline__heading .q-timeline__heading-title {
  margin-left: 16px !important;
  padding: 0rem;
}

.q-timeline--loose .q-timeline__heading .q-timeline__heading-title {
  margin-left: 0px !important;
}

.q-timeline--comfortable {
  display: block;
  .q-timeline__entry {
    display: block;
  }
}

.q-timeline--comfortable--right .q-timeline__content {
  padding-left: 16px !important;
}

.q-timeline__dot,
.q-timeline--loose .q-timeline__dot {
  margin-top: 16px;
  margin-bottom: 16px;
}

.q-timeline--dense--right .q-timeline__entry--icon .q-timeline__dot {
  left: 8px;
}

.q-timeline__entry:last-child {
  padding-bottom: 16px !important;
}

.q-timeline__content {
  padding-bottom: 0px !important;
}

.q-layout__section--marginal {
  background-color: unset !important;
}

.text-white,
.text-white * {
  color: var(--veneu-light) !important;
}

#headertoolbar,
.q-dialog__inner .q-card,
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.q-select__dialog,
.q-menu,
.q-time,
.glassmorphism,
.lockview {
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  background: unset !important;
  background-color: var(--veneu-background-backdrop) !important;
  border: none;
  border-radius: inherit;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.lockview {
  -webkit-backdrop-filter: blur(12px) !important;
  backdrop-filter: blur(12px) !important;
}

@-moz-document url-prefix() {
  #headertoolbar,
  .video-js .vjs-control-bar,
  .video-js .vjs-big-play-button,
  .q-select__dialog,
  .q-menu,
  .q-time,
  .glassmorphism {
    background-color: var(--veneu-firefox-glass) !important;
    border: none;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
  }
  .q-dialog__inner .q-card,
  .lockview {
    background-color: var(--veneu-background) !important;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    border: none;
  }
}

.anim {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

h1 {
  white-space: unset !important;
  overflow: unset !important;
  text-overflow: unset !important;
}

.video-js .vjs-control-bar {
  margin: 0.25rem;
  width: calc(100% - 0.5rem);
  border-radius: 1rem;
}

#video_player,
#video_player *:not(.vjs-loading-spinner),
.q-notification {
  border-radius: 1rem;
}
.q-notification__progress {
  margin: 0rem 0.5rem;
}

.q-field__native {
  font-size: 16px !important;
}

#theme {
  .q-toggle__inner--falsy .q-toggle__thumb::after {
    background-color: var(--veneu-dark);
  }
  .q-toggle__inner--truthy .q-toggle__thumb i {
    color: var(--veneu-light) !important;
  }
  .q-toggle__inner--indet .q-toggle__thumb::after {
    background-color: var(--veneu-blue);
  }
  .q-toggle__inner--truthy .q-toggle__thumb i {
    color: var(--veneu-light) !important;
  }
  .q-toggle__inner--truthy .q-toggle__thumb::after {
    background-color: var(--veneu-light);
  }
  .q-toggle__inner--truthy .q-toggle__thumb i {
    color: var(--veneu-blue) !important;
  }
}
.q-timeline__dot::before {
  background-color: var(--veneu-blue);
}

.q-field--standout:focus-within {
  color: var(--veneu-text-alternate);
  .q-field__inner {
    animation: grow-in-button 0.5s forwards;
  }
  .q-field__control {
    background: var(--veneu-blue);
    border-radius: 0.875rem !important;
    animation: none !important;
    box-shadow: none !important;
  }
}

.q-card__actions .q-btn__wrapper {
  padding: 4px 16px;
}

.q-menu .q-item,
.q-expansion-item .q-item {
  border-radius: 0.875rem !important;
}

.checkinselector .q-scrollarea .absolute.full-width {
  position: relative;
}

.q-tree__node--parent {
  padding-bottom: 0px;
}

.q-card {
  background: unset;
}

.text-dangerous {
  color: var(--veneu-red) !important;
}

.q-date__main {
  overflow-x: auto;
  overflow-y: hidden;
}
